<div id="<%= dom_id publication %>">
  <p>
    <strong>Titulo:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= publication.user.name %> <!--Aca le puse name-->
  </p>
  
  <% publication.images.each do |img| %>
  <%= image_tag img, style: "width: 400px; height: 400px;" %>
<% end %>
</div>
