<p style="color: green"><%= notice %></p>

<%= render @publication %>

<div>
  <% if user_signed_in? %>

  <% if current_user.id == @publication.user_id %> <br> <br>
  <%= link_to "Editar esta pubicación", edit_publication_path(@publication) , class:"btn btn-warning" %> <br> <br>
  <%= button_to "Eliminar esta publicación", @publication, method: :delete , class:"btn btn-warning" %>
  <% end %>

  <% end %> <br>

  <%= link_to "Volver a las publicaciones", publications_path, class:"btn btn-dark" %> <br> <br>
  <%= link_to "Ir a postulaciones", new_postulation_path, class:"btn btn-dark" %>
</div>