<p style="color: green"><%= notice %></p>

<%= render @postulation %>

<div>
  
  <%= link_to "Editar esta pubicación", edit_postulation_path(@postulation) , class:"btn btn-warning" %> <br> <br>
  <%= button_to "Eliminar esta publicación", @postulation, method: :delete , class:"btn btn-warning" %>
  <%= link_to "Volver a las publicaciones", postulations_path, class:"btn btn-dark" %> <br> <br>

</div>
